-----BEGIN CERTIFICATE-----
MIIFQjCCA6qgAwIBAgIUanNQGq1oOBmPPZ/CgyJspOHSD1gwDQYJKoZIhvcNAQEL
BQAwfjELMAkGA1UEBhMCVVMxDjAMBgNVBAgMBVRleGFzMRQwEgYDVQQHDAtTYW4g
QW50b25pbzEUMBIGA1UECgwLU2FuZGJveCBPcmcxGzAZBgNVBAsMEkVtYWlsIFRh
c2tzIChzaWduKTEWMBQGA1UEAwwNSS5NLiBDb21wdXRlcjAeFw0xMTEwMDExMzU1
NDJaFw0xMTEwMzExMzU1NDJaMH4xCzAJBgNVBAYTAlVTMQ4wDAYDVQQIDAVUZXhh
czEUMBIGA1UEBwwLU2FuIEFudG9uaW8xFDASBgNVBAoMC1NhbmRib3ggT3JnMRsw
GQYDVQQLDBJFbWFpbCBUYXNrcyAoc2lnbikxFjAUBgNVBAMMDUkuTS4gQ29tcHV0
ZXIwggGiMA0GCSqGSIb3DQEBAQUAA4IBjwAwggGKAoIBgQDegMdNxjSJW0p6jTCK
awiIG2tlKqAPFWjOOo1vKbDj2WD6roPkF8KtwpVgCnlE6nxmyQZealrkWgXek8GN
BAYKDjD3sQHdywkjdZe1cE28g7kmlNfx0SBpS7Jwf1MSjlXFapQpRvROfBmg8sJx
DYblr1xDANM85pUv74jHVfEEXONt7xXQvn+5eq9Rl5wK+cyB6EUhtR/TGwe8sqpQ
NM2W+Y9Rdg1bS+bvQMVnaNjmbd3ru4eL80ruKjS9kAAS6WPfDAqs3QxdonWYmTlx
KD8ui2JlvFSyikBQdTBTDZHOLaKkAoE0CzEk9Gps5nuQJQBtnyVaNa4iZHJl1FhY
aVKzUMF2lBdYlnZGL5GuPK+hxBhmu03eHGoiMHkIpAuY8r4F7Igy2P68BpCnL8Te
1gTpv1BBk8a3xKdmxEyAoLSL01eQurykYHjSV+8VLqH3YSGdm+dE8dcYZiXOJh0h
GiXAJTHlfXTnWxzklMNZlopJMgMyz94vfpK/wLhAGOFMI0MCAwEAAaOBtzCBtDAd
BgNVHQ4EFgQUhJcr9dFRMu+VyYL8vkgO7r/e738wDAYDVR0TAQH/BAIwADAOBgNV
HQ8BAf8EBAMCB4AwEwYDVR0lBAwwCgYIKwYBBQUHAwQwPwYDVR0RBDgwNoEVaW0u
Y29tcHV0ZXJAZ21haWwuY29tgR1pbS5jb21wdXRlci1jb2RlbGFiQHlhaG9vLmNv
bTAfBgNVHSMEGDAWgBSElyv10VEy75XJgvy+SA7uv97vfzANBgkqhkiG9w0BAQsF
AAOCAYEAivS7Rnf/7sPOq9ZUMZI1w730xIcP9PMDRv+iDPe6A0obgurS1FKUzgcm
ctWialyY3YM+RhNYjXBKPcn/tVp+nfj+27717prY8U5pmLKN1rdrRJUcOfO/kBqI
zpRAvGn/V7yOJCGscg5FTADwn6ucLLp9x5kujaD/Gu4KE0rtf9GM+0b/m+pVxtUr
lPymfflPh3Ep9iZ/RD9qvgT8hAIxkRjEHsaBSOor9HxUtjLFhOYRBRBTkj4eS+Uu
Aq/ebpSZbKuvQTvq6SDl/IfcvvdfWOI80pu+qEbma3aUviCrv2RqNZlYO+GQC9JJ
llBi+7kG2RA6aGB+Fmd1nrpLGv8Ro3K917lVAELFWZzdD/DsVWbg2fsrquCXs4Bj
SKGlCh8TU7cBGiLhLXAiuul4CxM8RqJS3gv3tAYjvNrgRP4nZwB/fqz4tC8YnicN
vVb7Zmcj94WjJ2WZk9w8EEVq7ODIXhY7/HjbrzE/12QBoUcpjH2mw1lnw9/ac3hk
Yq7MLrt9
-----END CERTIFICATE-----
-----BEGIN ENCRYPTED PRIVATE KEY-----
MIIHbjBYBgkqhkiG9w0BBQ0wSzAqBgkqhkiG9w0BBQwwHQQIxR73gk4k9bkCAwEA
ADAMBggqhkiG9w0CCQUAMB0GCWCGSAFlAwQBKgQQq3ktJYflCnmLvrjMteOQSwSC
BxBNLM6nS3/8GxCHpnhVE4yGEL+kabIJqE8EhNgowqL+EP3FM7r6RFW6qDriaQUv
njzyVmL62ixoXfdxrDIXreFOBKGpS2AzoHonpCtdQF4jWFsBCNSpRmMaPsIQDsB+
wD6D/7MCjyPlIaMqtMCTQ/E0Dq9Gq6oz0/eZAWhNu3pm0z5M2/LsHgs+5lwsgrUY
ggpum6Cxx9J/q8ky4gaQRxSjDim6wBsr1SB24LnEXQy9FibmJ9AlCcjApC8l4rmq
bKMUGl6PDknC2NlVAIipJj/h1rNqPknK7pTjjnxnHWBWj0lA/MNkq1PKc5iViNGZ
AOp95CkvkBXo1QuZoa7YrMtLzcKns6dijqxv+f03vHi58ew6Oe/uVN5OPpvF/k4a
gHNWoCtiQb2lhAYVnvKVIAs/JSz/8wx+fsd3uzKItnB0HNf3PcLoJfWom+rRaxLR
nXGFhWHyc72w7n/ks5f7EuRCg5nThfa6JDLam7Slz2yTiXcpELiBj7/MiZKmzddO
Ew7WAWvGrhQ2WLoHoTcopcSvnqf0e7pbKsNgacK+G3q3nl+b84v3thzfsvZIm/+I
Lf/xXANxQHLNJf989ngz64JlEI1ug15SQJdVEodVJSRv5wa/qEAO4NmaY7MlbQdp
a8UGTjFRj8pOdVMt9EfFPq5gySD/DD3DkDtgQjC3HGV5l7I8IHLsdZoqZzQziR96
KZ2tTA+jq5JvEY0d/5O3pODFARWi9B/EmElDOe/RqhCr9IPsqG1XFfTGwKYZSr4E
m/c163bb1V3xvbPaELmh5P7kGSyWxoVsANLGUK3AohCxJxd15CQVliewo+msG4x6
4EGjP39u543S6/pmsQXqi2MRWlZOGvVIyCM5zaaJAisq7brnWcbuUKRe7p34w4ds
i+L+dzLjKzU8bSWcQkhLR69vuY8X0F0hfn42RAVKIiLg/7hfyozEE5Ec9MMtE+s0
yNdw6/952rza1fZDH8hL1LZZxhoPWmd+Qw1uq3CShVgdfNvfUqhpSBPbScFEh84S
qdkqvYxsdM2MadDjQSFFW/T7hMGVGyIe85MJ/m3sgX3Qyytlcdy0WcO9KyLQtU+G
cmRUdanaUfDVhUUKdnY+cCqyw6Zdvyt/LafkzC1SUDQ6lGci37TO4y17Iq2kMrIK
SwV8BcjySDX8/LdUUiCjHcVEpcjY1nf4Nk/hSmMOpTPUfuDn9DHycybkK5LC0QX+
19XdJkDQYH0JTDZawGyoXB1AC1+wMHy7hYOdaPnECrH15xY/OrR33HcB5g5gA9Sp
SuBKg5jxTtHhRgkoLr63HkimlFuMh0o6JWDIoIXoU5+ElyUK+dzhqruH+94q5p/s
C2nykAFb10GEftTy8U/imoFzxqNT/CzMwfLdUEH+NcWiywA8eCgEHSgUUtHVMjfP
ZRpMDX3RgtjqqC+GA4yGfG5wRgmk1skbnKkvTBldn8HB4E67oKS7vfPY+C7Bp8Jp
L0CVITUKt0SWxpmY1wdXgtztQ/KtGYb5KvxnB+WiaCAUxAegYTYb6BD4ibxoM+Ut
iBwDbk1h736ZKhSBjW5gzLjqp9Nk21YeYcSVzXMxcKE17WVeAFx+5FUUfwBCozAw
gMJ6euRlT+zddEtII4YJcdytm+CU6bFQ/Ru0XYh/rqIiMl8kB2PDJu9WCgU+E/eB
LoyvicvQPpxSl6MX02btuifuS/866fIqQfTWCbxF//HxtdgFrOnSjavm4gVo6JXP
xQgWboKxxYJlEbM8+CUTUuRne0hrFKuxTTlNp5FuK+J+A2ieZDuoYUv8CELTtNSD
xVIDr0yQg/rMc1nHJBGhoKAmjd1QTDAcB4VFbX7fpOC8/yO3zSuwTPdEovdq7PFH
boxRvFWDP3ul17UlSkSvZhLpGpVpcP42sPpyGqH+k2MnTBO7ATIcSheRxCUtFh8s
jwHPrjrJUZo+1mwrWFag/TfnSHC34YS+YmwoXkB7F+2qCqIOF5II4S+2sKZ3uiiV
JLtH6xamaupBJlMW9FbMsd2TxwwxukM28Go+DSdxfesCW3jkfHLGuQ7GpSMKNEA/
Us3Md1Ah8bqeQmKgo9Cum/MQi0d2sip9yRf5aiCKMiOvOvMC+BijTuONhPvMfOeA
T70L1JMvLg9ClDV/KUIkHCZr30Puisg9X+VrkPt8CH1n8qhyM1+jAgKYAPn3C6EH
BcADG2a6O6ntKSMaMErbzBZ8D9R9OuyDY8+gEBj7I3/uujwqhbL2ykM3B6ZkF1Ka
/dtL+Yyc3UOko0tKqmmlhf8JCInHpQagDgSF01WQJWc3rLATMxJ24gjYJ1tXJTAF
EPoBkOEi96vupS5Oh/HajYn3bTo7lhr2wnjgLOlo1kngZCI3lLBY0e3cjMmFgNVT
sED+0VjTUJZxRSSlPun1hscUZ6gDii1o3IYGuUOrDJqGGg==
-----END ENCRYPTED PRIVATE KEY-----
