root_dir: .
file_roots:
  base:
    - srv/salt
pillar_roots:
  base:
    - srv/pillar
roster_defaults:
#  grains:
#    variant: freebsd
#    osrelease: rolling
  user: packer
  sudo: True
timeout: 300
#ssh_args: -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
