## see http://editorconfig.org
## .editorconfig in current OR any parent directory
#root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[*.{bat,cmd,ps1}]
indent_style = tab
end_of_line = crlf

[*.{html,markdown,md,rst}]
trim_trailing_whitespace = false

[*.{cfg,conf,ini,json,properties,toml,yaml,yml,xml}]
indent_size = 2

[{*.sh,shell}]
indent_size = 2

[LICENSE]
indent_size = 2
insert_final_newline = false

#[{Makefile,*.mk,GNUmakefile,Makefile*}]
#indent_style = tab

[{Makefile,*.mk,GNUmakefile,Makefile*}]
indent_style = tab
