## Global
#!.gitignore

*~

*.log
/lib/
lib64/
pkg/
temp/
tmp/
bin/
build/

# VM templates (packer, qemu, ansible, saltstack)
packer_cache/
output-vms/
input-vms/
init/**/publish_krls/
init/**/publish_crls/
init/common/multibootusb/
etc/ansible/hosts
etc/ansible/**/*.retry
etc/ansible/**/vault
etc/salt/master
etc/salt/roster
etc/salt/pki/
var/
srv/pillar/
srv/salt/tmp
srv/salt/_states/
srv/salt/_modules/
!init/**/.keep
!init/common/multibootusb/multiboot_usb_prep.sh
!init/common/multibootusb/boot/grub/grub.cfg
!srv/salt/**/.keep

