[defaults]
inventory = etc/ansible/hosts
#roles_path = etc/ansible/roles
##(note) interpreter_python = [auto[_silent] | '/usr/bin/env python']
#interpreter_python = auto_silent
display_skipped_hosts = False
nocows = 1
callback_result_format = yaml
