[defaults]
inventory = etc/ansible/hosts
#roles_path = etc/ansible/roles
##(note) interpreter_python = [auto[_silent] | '/usr/bin/env python']
#interpreter_python = auto_silent
display_skipped_hosts = False
nocows = 1
timeout = 300
callback_result_format = yaml
#host_key_checking = False

#[ssh_connection]
#ssh_args = -o UserKnownHostsFile=/dev/null
