-----BEGIN CMS-----
MIICiwYJKoZIhvcNAQcDoIICfDCCAngCAQAxggIzMIICLwIBADCBljB+MQswCQYD
VQQGEwJVUzEOMAwGA1UECAwFVGV4YXMxFDASBgNVBAcMC1NhbiBBbnRvbmlvMRQw
EgYDVQQKDAtTYW5kYm94IE9yZzEbMBkGA1UECwwSRW1haWwgVGFza3MgKHNpZ24p
MRYwFAYDVQQDDA1JLk0uIENvbXB1dGVyAhRqc1AarWg4GY89n8KDImyk4dIPWDAN
BgkqhkiG9w0BAQEFAASCAYC8M0TrhIDaTfCWK1l6f6eEG587wMRRcuURcapGkxgT
YC6tTzh2bjfRfYqyy1Z8GcYkZz8RTYlCjG+CLFQApucCTjHiOaanVk5G4Edzl8mk
HqZ3lqAwieeWfJkMf4glDTC1MNl1kpr/UvIm2F5Xllf08p3vzXSWayRh9jpdFsQp
Vzh01tJybB5ouXmjPArvONFUjePgHuJ8dAthzZBMqFxtY9lFY4bT8ZVKA4f8q0qa
2dvWJoJPLlNDDm7GF8oji2c3ufmaP2TcXuc2gvcgSbRttiBlynQvs3P+MkBqVdzy
m6YnIN9u/IksLbrRWuVidC1ZJma/3+TXmbR3zHe6hLhQlMLz/VQ0BvODXl7mKXx1
DIijIpHDjhPEU1rFrFd7ty5QZEc+tkSeOa3tPJdo4oMCVNeRn871gF/QJOJC0jhK
oVfYqxPHLkBJ44fvJK3DC7pyUwt4P68SaG2NBGshpD0cb/nGGpflWv72OR6VRx9Z
a/fKug+pR5wX21LU8ZYOMbwwPAYJKoZIhvcNAQcBMB0GCWCGSAFlAwQBKgQQ60hX
zp5WnJwVOcxb93tPk4AQuqOY+O6Mi57wPFvWASseyQ==
-----END CMS-----
