#========================================
# PGP Certificate configuration options for GnuPG

#default-key DA0F1D4A85DA7D713D502C60F4F23A5BDC7ED2BB
#default-recipient im.computer@yahoo.com
default-recipient-self
#encrypt-to im.computer@yahoo.com
#hidden-encrypt-to im.computer@gmail.com
#group mynames = im.computer@gmail.com im.computer@yahoo.com im.computer

#auto-key-locate keyserver hkps://hkps.pool.sks-keyservers.net
#keyserver hkps://hkps.pool.sks-keyservers.net
# download: wget https://sks-keyservers.net/sks-keyservers.netCA.pem
#keyserver-options ca-cert-file=/path/to/CA/sks-keyservers.netCA.pem
#keyserver-options auto-key-retrieve
keyserver-options no-honor-keyserver-url

no-emit-version
keyid-format short
default-new-key-algo rsa4096/cert+nistp384/auth,sign

no-comments
no-greeting
#lock-once
list-options show-uid-validity show-unusable-uids
verify-options show-uid-validity show-unusable-uids

# gpg --verbose --version
#personal-cipher-preferences AES256 AES192 CAMELLIA256 CAMELLIA192
#personal-digest-preferences SHA512 SHA384 SHA256
#personal-compress-preferences BZIP2 ZLIB ZIP Uncompressed
#default-preference-list S9 S8 S13 S12 H10 H9 H8 Z3 Z2 Z1 Z0
default-preference-list AES256 AES192 CAMELLIA256 CAMELLIA192 SHA512 SHA384 SHA256 BZIP2 ZLIB ZIP Uncompressed

passphrase-repeat 2
default-sig-expire 13m
default-cert-expire 13m
min-cert-level 1
#default-cert-level 1
ask-cert-level

ignore-time-conflict
