<GnupgKeyParms format="internal">
  # Key Generation Options for GnuPG # max 1 key, 1 subkey
  # note: example usage w/ capable type/[length|curve] algos
  #  usage(s)         capable type/[length|curve] algos
  #  cert,auth,sign   RSA/4096, ECDSA/[nistp384|secp384r1], EDDSA/ed25519
  #  encrypt          RSA/4096, ECDH/[nistp384|secp4r1|cv25519]

  Key-Type: RSA
  Key-Length: 4096
  Key-Usage: cert
  Subkey-Type: RSA
  Subkey-Length: 3072
  Subkey-Usage: auth,sign
  Name-Real: I.M. Computer
  Name-Comment: Practice PGP Keyring
  Name-Email: im.computer@gmail.com
  #Creation-Date: 2011-10-01
  Expire-Date: 13m
  #Passphrase: abcd0123
</GnupgKeyParms>
