
#Note: [FreeBSD: periodic daily | NetBSD,OpenBSD: /bin/sh /etc/daily]

1   15  daily           { rm -f /var/log/security.out ; nice periodic daily 2>&1 > /var/log/daily.out }
7   10  weekly          nice periodic weekly 2>&1 > /var/log/weekly.out
30  5   monthly         nice periodic monthly 2>&1 > /var/log/monthly.out

7   15  daily_sec.mail  test -s /var/log/security.out && tail -vn +1 /var/log/security.out
7   15  daily.mail      test -s /var/log/daily.out && tail -vn +1 /var/log/daily.out
15  10  weekly.mail     test -s /var/log/weekly.out && tail -vn +1 /var/log/weekly.out
90  5   monthly.mail    test -s /var/log/monthly.out && tail -vn +1 /var/log/monthly.out
