
# OS family based variables dictionary
{% set variant = {'artix': 'archlinux', 'arch': 'archlinux'}.get(
     grains['os_family']|lower, grains['os_family'])|lower %}
{% set dict_distropkgs = {} %}
{% for keyX, valX in salt['ini.get_ini']('/root/scripts/distro_pkgs.ini').items() %}
  {#{% set _ = dict_distropkgs.update({keyX: valX|replace('"', '')|regex_replace('\\${service_mgr:-[a-z]*}', grains['init'])}) %}#}
  {% do dict_distropkgs.update({keyX: valX|replace('"', '')|regex_replace('\\${service_mgr:-[a-z]*}', grains['init'])}) %}
{% endfor %}
{% load_yaml as defaultdict %}
  default:
    {#pkgs_cmdln_tools = {{salt['cmd.shell']('. /root/scripts/distro_pkgs.ini ; echo ${pkgs_cmdln_tools}', shell='/bin/sh')}}#}
    {#distro_pkgs: {{salt['ini.get_ini']('/root/scripts/distro_pkgs.ini')}}#}
    distro_pkgs: {{dict_distropkgs}}
    {#idsuffix_result: {{salt['cmd.shell']('(cat /etc/machine-id || printf "0%.0s" {1..32}) | cut -b29-32')}}#}
    {#idsuffix_result: {{(salt['file.read']('/etc/machine-id')|trim)[-4:]}}#}
    #idsuffix_cmd: (cat /etc/machine-id || printf '0%.0s' {1..32}) | cut -b29-32
    idsuffix_cmd: test -e /etc/machine-id && cat /etc/machine-id | cut -b29-32 || echo 0000
    firewall_tool: nftables
    smtp_daemon: smtpd
    hostname_chgfiles: [/etc/hosts, /etc/hostname]
    #firewall_chgfiles: [/etc/nftables.conf,
    #  /etc/nftables/outallow_nftables.conf,
    #  /etc/nftables/outdeny_nftables.conf]
    #firewall_chgfiles: []
    skeldir_par: /etc/skel
    skel_dirs: [/etc/skel/.gnupg, /etc/skel/.pki, /etc/skel/.ssh]
    skelmaps_srcdest: [{'srcskel': '_gnupg/*', 'destskel': '.gnupg/'},
      {'srcskel': '_pki/*', 'destskel': '.pki/'},
      {'srcskel': '_ssh/*', 'destskel': '.ssh/'},
      {'srcskel': '_gitconfig.sample', 'destskel': '.gitconfig'},
      {'srcskel': '_hgrc.sample', 'destskel': '.hgrc'}]
    sudoersd_dir: /etc/sudoers.d
    skeldir_ssh: /etc/skel/.ssh
    skel_shellrc: /etc/skel/.bashrc
    sharednode: {{salt['environ.get']('SHAREDNODE',
      default=salt['grains.get']('sharednode', default='localhost.local'))}}
    printname: {{salt['environ.get']('PRINTNAME',
      default=salt['grains.get']('printname', default='printer1'))}}
    etcdir_cups: /etc/cups
    cupsdir_ppd: /usr/share/cups/model
  FreeBSD:
    pkgclean_cmd: ASSUME_ALWAYS_YES=yes pkg clean -y
    {#idsuffix_result: {{salt['cmd.shell']('(sysctl -n kern.hostuuid || printf '0%.0s' {1..36}) | cut -b33-36')}}#}
    {#idsuffix_result: {{(salt['sysctl.get']('kern.hostuuid', '0000'))[-4:]}}#}
    #idsuffix_cmd: (sysctl -n kern.hostuuid || printf '0%.0s' {1..36}) | cut -b33-36
    idsuffix_cmd: test -n "`sysctl -n kern.hostuuid`" && sysctl -n kern.hostuuid | cut -b33-36 || echo 0000
    firewall_tool: pf
    smtp_daemon: sendmail
    hostname_chgfiles: [/etc/hosts, /etc/rc.conf, /etc/rc.conf.local]
    #firewall_chgfiles: [/etc/pf/outallow_in_allow.rules]
    skeldir_par: /usr/share/skel
    skel_dirs: [/usr/share/skel/dot.gnupg, /usr/share/skel/dot.pki,
      /usr/share/skel/dot.ssh]
    skelmaps_srcdest: [{'srcskel': '_gnupg/*', 'destskel': 'dot.gnupg/'},
      {'srcskel': '_pki/*', 'destskel': 'dot.pki/'},
      {'srcskel': '_ssh/*', 'destskel': 'dot.ssh/'},
      {'srcskel': '_gitconfig.sample', 'destskel': 'dot.gitconfig'},
      {'srcskel': '_hgrc.sample', 'destskel': 'dot.hgrc'}]
    sudoersd_dir: /usr/local/etc/sudoers.d
    skeldir_ssh: /usr/share/skel/dot.ssh
    #skel_shellrc: /usr/share/skel/dot.cshrc
    skel_shellrc: /usr/share/skel/dot.shrc
    etcdir_cups: /usr/local/etc/cups
    cupsdir_ppd: /usr/local/share/cups/model
  Void:
    pkgclean_cmd: xbps-remove -Ooy
    #idsuffix_cmd: (cat /var/lib/dbus/machine-id || printf '0%.0s' {1..32}) | cut -b29-32
    idsuffix_cmd: test -e /var/lib/dbus/machine-id && cat /var/lib/dbus/machine-id | cut -b29-32 || echo 0000
    smtp_daemon: opensmtpd
    #firewall_chgfiles: [/etc/nftables.conf,
    #  /etc/nftables/outallow_nftables.conf,
    #  /etc/nftables/outdeny_nftables.conf]
  Artix:
    pkgclean_cmd: pacman -Sc --noconfirm
    firewall_tool: firewalld
    smtp_daemon: opensmtpd
  Archlinux:
    pkgclean_cmd: pacman -Sc --noconfirm
    idsuffix_cmd: test -e /var/lib/dbus/machine-id && cat /var/lib/dbus/machine-id | cut -b29-32 || echo 0000
    firewall_tool: firewalld
    smtp_daemon: opensmtpd
  Alpine:
    pkgclean_cmd: apk -v cache clean
    firewall_tool: firewalld
    smtp_daemon: smtpd
    #firewall_chgfiles: [/etc/nftables.conf,
    #  /etc/nftables/outallow_nftables.conf,
    #  /etc/nftables/outdeny_nftables.conf]
  Debian:
    pkgclean_cmd: apt-get -y clean
    idsuffix_cmd: test -e /var/lib/dbus/machine-id && cat /var/lib/dbus/machine-id | cut -b29-32 || echo 0000
    firewall_tool: firewalld
    smtp_daemon: opensmtpd
    cupsdir_ppd: /usr/share/ppd/cups-pdf
  Suse:
    pkgclean_cmd: zypper --no-refresh --non-interactive clean --all
    firewall_tool: firewalld
    smtp_daemon: postfix
    hostname_chgfiles: [/etc/hosts, /etc/hostname, /etc/sysconfig/network]
  RedHat:
    pkgclean_cmd: dnf -C -y clean all
    firewall_tool: firewalld
    smtp_daemon: postfix
    hostname_chgfiles: [/etc/hosts, /etc/hostname, /etc/sysconfig/network]
  'CentOS Stream':
    pkgclean_cmd: dnf -C -y clean all
    firewall_tool: firewalld
    smtp_daemon: postfix
    hostname_chgfiles: [/etc/hosts, /etc/hostname, /etc/sysconfig/network]
  Mageia:
    pkgclean_cmd: dnf -C -y clean all
    firewall_tool: firewalld
    smtp_daemon: postfix
    hostname_chgfiles: [/etc/hosts, /etc/hostname, /etc/sysconfig/network]
  NetBSD:
    pkgclean_cmd: pkgin -y clean
    {#idsuffix_result: {{salt['sysctl.get']('machdep.dmi.system-uuid', '0000')[-4:]}}#}
    #idsuffix_cmd: (/sbin/sysctl -n machdep.dmi.system-uuid || printf '0%.0s' {1..36}) | cut -b33-36
    idsuffix_cmd: test -n "`/sbin/sysctl -n machdep.dmi.system-uuid`" && /sbin/sysctl -n machdep.dmi.system-uuid | cut -b33-36 || echo 0000
    firewall_tool: pf
    smtp_daemon: postfix
    hostname_chgfiles: [/etc/hosts, /etc/rc.conf]
    #firewall_chgfiles: [/etc/pf/outallow_in_allow.rules]
    sudoersd_dir: /usr/pkg/etc/sudoers.d
    #skel_shellrc: /etc/skel/.cshrc
    skel_shellrc: /etc/skel/.shrc
    etcdir_cups: /usr/pkg/etc/cups
    cupsdir_ppd: /usr/pkg/share/cups/model
  OpenBSD:
    pkgclean_cmd: true
    {#idsuffix_result: {{salt['sysctl.get']('hw.uuid', '0000')[-4:]}}#}
    #idsuffix_cmd: (sysctl -n hw.uuid || printf '0%.0s' {1..36}) | cut -b33-36
    idsuffix_cmd: test -n "`sysctl -n hw.uuid`" && sysctl -n hw.uuid | cut -b33-36 || echo 0000
    firewall_tool: pf
    smtp_daemon: smtpd
    hostname_chgfiles: [/etc/hosts, /etc/myname]
    #firewall_chgfiles: [/etc/pf/outallow_in_allow.rules]
    #skel_shellrc: /etc/skel/.cshrc
    skel_shellrc: /etc/skel/.shrc
  PCLinuxOS:
    pkgclean_cmd: apt-get -y clean
    idsuffix_cmd: test -e /var/lib/dbus/machine-id && cat /var/lib/dbus/machine-id | cut -b29-32 || echo 0000
    firewall_tool: iptables
    smtp_daemon: postfix
    hostname_chgfiles: [/etc/hosts, /etc/hostname, /etc/sysconfig/network]
    #firewall_chgfiles: [/etc/ipset.conf]
{% endload %}

{#{% set varsdict = salt['grains.filter_by'](defaultdict, base='default',
  merge=pillar.get(tpldot ~ ':lookup', pillar.get(tpldot))) %}#}
{% set varsdict = salt['grains.filter_by'](defaultdict, base='default',
  merge=salt['pillar.get'](tpldot ~ ':lookup', salt['pillar.get'](tpldot))) %}
