-----BEGIN CMS-----
MIICiwYJKoZIhvcNAQcDoIICfDCCAngCAQAxggIzMIICLwIBADCBljB+MQswCQYD
VQQGEwJVUzEOMAwGA1UECAwFVGV4YXMxFDASBgNVBAcMC1NhbiBBbnRvbmlvMRQw
EgYDVQQKDAtTYW5kYm94IE9yZzEbMBkGA1UECwwSRW1haWwgVGFza3MgKHNpZ24p
MRYwFAYDVQQDDA1JLk0uIENvbXB1dGVyAhRqc1AarWg4GY89n8KDImyk4dIPWDAN
BgkqhkiG9w0BAQEFAASCAYCJBiW95fitg0gtx45LalGgl9Y0k3EGrrL2bpGdScce
hdsFmozyspdMTErPw5WrAhiCOshCanY1EXk5blYbeu3lc5Hf81qLBzrq+UGa6kEy
vi7dbqQxtE5OVFvPXntyrRlqVN2XIQ8TYgGLw8A7sjlwaUeycYV8iAOrAUZz3myI
c12Bfwlq3Qci9Ha76b0q+JBSDMcHYB3Zd1lmGWHMhpllJHazAyFD4u9k0FkbImvv
zGxrMApj4aNL9ESTVTjno2CaXzcG7Zf6NPzErx3v4QCa9m2oejV03GI0V1qkgoEU
v8OH1buqE7VcvgFsQN/q+kclkFG61OoJ9SYAGVYKEyhf72q+3YYeP8Yev8YNLXze
KvU+hf/1CZ6Q6rddacCZm+gXhRZZMLssXuy/Lxsz+rA3X9+RNPbGn/SYm/bRrCir
5phpQKri+s7HcF7EePm0746h7+Pa1MgGOP/9aAB0saXPniAxIr7B9DfzbPlpDSWv
3vHLnH9a/B2UuIYawTq5gngwPAYJKoZIhvcNAQcBMB0GCWCGSAFlAwQBKgQQxxSU
a6/dGoRUOmWXyFY3WYAQQO3L2ujiu93jl9SjU/1H6g==
-----END CMS-----
