#!/usr/bin/env python -t
# -*- coding: utf-8 -*-

import os, sys, re, subprocess

SCRIPTPARENT = os.path.dirname(os.path.abspath(__file__))
USERDIR = os.environ.get('USERDIR', os.getenv('HOME'))

# ensure GPG_TTY set to allow interactive agent usage from inside a pipe
os.environ['GPG_TTY'] = os.getenv('GPG_TTY', subprocess.getoutput('tty'))

## ? (--keyring) alternate keyring ; ? (-v) verbose output ; ? (-a) armor
GPG_CMD = os.getenv('GPG_CMD', 'gpg') # ?? --no-tty

def getpass_entry(entry='appmail', use_openssl=False, use_keepass=False):
  import getpass
  #passw = getpass.getpass("Password for entry({0}): ".format(entry))
  #return passw

  use_openssl = use_openssl or ('0' != os.environ.get('USE_OPENSSL', '0'))
  use_keepass = use_keepass or ('0' != os.environ.get('USE_KEEPASS', '0'))

  if use_keepass:
    keepassdb = os.environ.get('keepassdb', '{0}/.passwords.kdbx'.format(
      USERDIR))

    return subprocess.getoutput('keepassxc-cli show -a password {0} {1}'.format(
      keepassdb, entry)).split('\n')[-1]
  elif use_openssl:
    import_ok = False
    try:
      # pycryptodome[>=3.4.5]
      from Crypto import PublicKey, Cipher, Hash, Protocol, Util, Random
      from Crypto.PublicKey import RSA
      from Crypto.Cipher import AES, PKCS1_v1_5
      from Crypto.Util import Padding
      # M2Crypto[>=0.26.0]
      import M2Crypto
      from M2Crypto import EVP, RSA, X509, SMIME, BIO #, Rand
      import_ok = True
    except ImportError as exc_import:
      print(repr(exc_import), file=sys.stderr)

    entry_pardir = os.environ.get('entry_pardir', '{0}/.passwords'.format(
      USERDIR))
    extn_bin = ".bin"
    if os.path.exists('{0}/{1}.b64'.format(entry_pardir, entry)) and \
        not os.path.exists('{0}/{1}.bin'.format(entry_pardir, entry)):
      extn_bin = ".b64"
    if os.path.exists('{0}/{1}{2}'.format(entry_pardir, entry, extn_bin)): # b64|bin
      if not import_ok:
        return subprocess.getoutput('openssl enc -d -aes256 -base64 -salt -pbkdf2 -iter {0} -md sha256 -in {1}/{2}{3}'.format(
          int(os.environ.get('iter_hex', '0x010000'), base=16), entry_pardir,
          entry, extn_bin)).split('\n')[-1]
      else:
        import base64

        pfx = b'Salted__'
        data = open('{0}/{1}{2}'.format(entry_pardir, entry, extn_bin),
          'rb').read()
        data = base64.b64decode(data)
        salt, ctext = data[len(pfx):len(pfx)+8], data[len(pfx)+8:]
        passw = getpass.getpass("Password for file({0}): ".format(
          os.path.relpath('{0}/{1}{2}'.format(entry_pardir, entry, extn_bin),
          start=os.path.dirname(USERDIR)))).encode()
        #len_skey, block_sz = 32, 16
        #dkeyiv = EVP.pbkdf2(passw, salt, int(os.environ.get('iter_hex',
        #  '0x010000'), base=16), len_skey+block_sz) # ? sha1
        len_skey, block_sz = 32, Cipher.AES.block_size
        dkeyiv = Protocol.KDF.PBKDF2(passw, salt, dkLen=len_skey+block_sz,
          count=int(os.environ.get('iter_hex', '0x010000'), base=16),
          hmac_hash_module=getattr(Hash, 'sha256'.upper()))
        skey, iv = dkeyiv[:len_skey], dkeyiv[len_skey:len_skey+block_sz]

        ## M2Crypto
        #decryptor = EVP.Cipher(alg='aes_256_cbc', key=skey, iv=iv, op=0)
        #ptext = decryptor.update(ctext) + decryptor.final()
        ## PyCryptodome
        cipher_obj = Cipher.AES.new(skey, getattr(Cipher.AES, 'MODE_CBC'),
          iv=iv)
        ptext = cipher_obj.decrypt(ctext)
        ptext = Util.Padding.unpad(ptext, block_sz)
        return ptext.decode()
    else: # enc|p7m|pem
      certkeyfile = os.environ.get('certkeyfile',
        '{0}/.pki/certkey.pem'.format(USERDIR))
      extn_cms, cmsopts_inform = ".pem", "-inform PEM"
      if os.path.exists('{0}/{1}.p7m'.format(entry_pardir, entry)) and \
          not os.path.exists('{0}/{1}.pem'.format(entry_pardir, entry)):
        extn_cms, cmsopts_inform = ".p7m", ""

      if not import_ok:
        if os.path.exists('{0}/{1}.enc'.format(entry_pardir, entry)):
          return subprocess.getoutput('openssl pkeyutl -decrypt -inkey {0} -pkeyopt rsa_padding_mode:pkcs1 -in {1}/{2}.enc'.format(
            certkeyfile, entry_pardir, entry)).split('\n')[-1]
        else: # os.path.exists('{0}/{1}{2}'.format(entry_pardir, entry, extn_cms)):
          return subprocess.getoutput('openssl cms -decrypt -inkey {0} {1} -in {2}/{3}{4}'.format(
            certkeyfile, cmsopts_inform, entry_pardir, entry, extn_cms)
            ).split('\n')[-1]
      else:
        passw = getpass.getpass("Password for certkeyfile({0}): ".format(
          certkeyfile)).encode()
        if os.path.exists('{0}/{1}.enc'.format(entry_pardir, entry)):
          skey_enc = open('{0}/{1}.enc'.format(entry_pardir, entry), 'rb'
            ).read()
          ## M2Crypto
          #pkey = M2Crypto.RSA.load_key(certkeyfile, lambda v: passw)
          #ptext = pkey.private_decrypt(skey_enc, M2Crypto.RSA.pkcs1_padding)
          ## PyCryptodome
          pkey = PublicKey.RSA.import_key(re.sub(
            rb'-----BEGIN CERTIFICATE.*END CERTIFICATE-----\n', b'',
            open(certkeyfile, 'rb').read(), flags=re.MULTILINE|re.DOTALL),
            passw)
          sentinel = Random.new().read(16+getattr(Hash, 'sha1'.upper()
            ).digest_size)
          ptext = Cipher.PKCS1_v1_5.new(pkey).decrypt(skey_enc, sentinel)
          return ptext.decode()
        else:
          data_cms = open('{0}/{1}{2}'.format(entry_pardir, entry, extn_cms),
            'rb').read()
          bio_pkcs7 = BIO.MemoryBuffer(re.sub(b'CMS-----', b'PKCS7-----',
            data_cms, flags=re.MULTILINE|re.DOTALL))
          pkcs7_obj = SMIME.load_pkcs7_bio(bio_pkcs7)

          smime_obj = SMIME.SMIME()
          smime_obj.load_key(certkeyfile, certfile=certkeyfile,
            callback=lambda v: passw)
          ptext = smime_obj.decrypt(pkcs7_obj)
          return ptext.decode()
  else: # assume gnupg
    import_ok = False
    try:
      import gpg
      import_ok = True
    except ImportError as exc_import:
      print(repr(exc_import), file=sys.stderr)

    entry_pardir = os.environ.get('entry_pardir', '{0}/.passwords'.format(
      USERDIR))
    extn = '.gpg'
    if os.path.exists('{0}/{1}.asc'.format(entry_pardir, entry)):
      extn = '.asc'
    if not import_ok:
      #return subprocess.check_output('{0} -qd {1}/{2}{3}'.format(GPG_CMD,
      #  entry_pardir, entry, extn), shell=True).decode().strip('\n')
      return subprocess.getoutput('{0} -qd {1}/{2}{3}'.format(GPG_CMD,
        entry_pardir, entry, extn)).split('\n')[-1]
    else:
      #passw = getpass.getpass('Enter key password: ').split('\n')[-1].encode()
      gpg.core.check_version()
      ctx = gpg.Context(armor=True, home_dir='{}/.gnupg'.format(USERDIR))
      gpg.core.set_engine_info(gpg.constants.PROTOCOL_OpenPGP, None,
        home_dir='{}/.gnupg'.format(USERDIR))
      gpg.core.engine_check_version(gpg.constants.PROTOCOL_OpenPGP)
      ctx.set_engine_info(gpg.constants.PROTOCOL_OpenPGP,
        home_dir='{}/.gnupg'.format(USERDIR))
      ctx.protocol = gpg.constants.PROTOCOL_OpenPGP
      if os.environ.get('GPG_TTY') is None: # gpg-agent ??
        ctx.pinentry_mode = gpg.constants.PINENTRY_MODE_LOOPBACK
        ctx.set_passphrase_cb(lambda hint, desc, prev_bad, hook=None:
          [print('hint: {0}'.format(hint), file=sys.stderr), getpass.getpass(
          'Enter key password: ').split('\n')[-1].encode()][-1])

      ptext, ctext = b'', b''
      try:
        ctext = open('{0}/{1}{2}'.format(entry_pardir, entry, extn), 'rb'
          ).read()
        (ptext, _, _) = ctx.decrypt(gpg.Data(string=ctext), verify=False)
      except Exception as exc:
        #print(str(exc), file=sys.stderr)
        print("[lineno: {0}] {1}\n".format(sys.exc_info()[-1].tb_lineno, exc),
          file=sys.stderr)
      #resultdata = gpg.Data(string=ptext) ; resultdata.seek(0, os.SEEK_SET)
      #return resultdata.read().decode().strip('\n')
      return ptext.decode().strip('\n')

def gettoken_entry(entry='tokenmail'):
  tokenfile = os.environ.get('tokenfile', '{0}.tokens'.format(entry))

  return subprocess.getoutput('python {0}/.config/mutt/oauth2.py {1}'.format(
    USERDIR, tokenfile)).split('\n')[-1]


if __name__ == '__main__':
  if 1 >= len(sys.argv):
    sys.exit(1)
  script_name, *args = sys.argv

  if 1 < len(sys.argv):
    func_name = args.pop(0)
    rest = args
  else:
    func_name, rest = args, []
  print(globals()[func_name](*rest), end='')


# get_secret.py usage example:
# #python -c "import os,sys ; sys.path.extend([os.path.abspath(os.path.join(
# #  os.getenv('HOME'), 'bin'))]) ; import get_secret ; print(
# #  get_secret.getpass_entry('appmail', use_openssl=False,
# #  use_keepass=False))"
# python get_secret.py getpass_entry appmail ['' '']
# python get_secret.py gettoken_entry tokenmail
