#!/bin/sh

USERDIR=${USERDIR:-${HOME}}
SCRIPTPARENT=${SCRIPTPARENT:-$(dirname ${0})}

## ensure GPG_TTY set to allow interactive agent usage from inside a pipe
# [setenv | export] GPG_TTY[=]${GPG_TTY:-`tty`}
export GPG_TTY=${GPG_TTY:-`tty`}

## ? (--keyring) alternate keyring ; ? (-v) verbose output ; ? (-a) armor
GPG_CMD=${GPG_CMD:-gpg} # ?? --no-tty

usage="usage:
  [USE_OPENSSL=0 | USE_KEEPASS=0] ${0} getpass_entry [appmail]
  ${0} gettoken_entry [tokenmail]"

getpass_entry() { # input: entry ; output: password
  entry=${1:-appmail}
  USE_OPENSSL=${USE_OPENSSL:-0} ; USE_KEEPASS=${USE_KEEPASS:-0}
  #stty -echo ; read -p "Password for entry(${entry}): " passw ; stty echo
  #echo ${passw}

  if [ ! "0" = "${USE_KEEPASS:-0}" ] ; then
    keepassdb=${keepassdb:-${USERDIR}/.passwords.kdbx} ;

    keepassxc-cli show -a password ${keepassdb} ${entry} ;
  elif [ ! "0" = "${USE_OPENSSL:-0}" ] ; then
    entry_pardir=${entry_pardir:-${USERDIR}/.passwords} ;
    extn_bin=".bin" ;
    if [ -f "${entry_pardir}/${entry}.b64" ] && \
        [ ! -f "${entry_pardir}/${entry}.bin" ] ; then
      extn_bin=".b64" ;
    fi ;
    if [ -f "${entry_pardir}/${entry}${extn_bin}" ] ; then # b64|bin
      echo "Enter pass phrase for ${entry_pardir}/${entry}${extn_bin}" > /dev/stderr ;
      cat ${entry_pardir}/${entry}${extn_bin} | openssl enc -d -aes256 \
        -base64 -salt -pbkdf2 -iter `printf "%d" ${iter_hex:-0x010000}` \
        -md sha256 ;
    else # enc|p7m|pem
      certkeyfile=${certkeyfile:-${USERDIR}/.pki/certkey.pem} ;
      extn_cms=".pem" ; cmsopts_inform="-inform PEM" ;
      if [ -f "${entry_pardir}/${entry}.p7m" ] && \
          [ ! -f "${entry_pardir}/${entry}.pem" ] ; then
        extn_cms=".p7m" ; cmsopts_inform="" ;
      fi ;

      if [ -f "${entry_pardir}/${entry}.enc" ] ; then
        cat ${entry_pardir}/${entry}.enc | openssl pkeyutl -decrypt \
          -inkey ${certkeyfile} -pkeyopt rsa_padding_mode:pkcs1 ;
      else # [ -f "${entry_pardir}/${entry}${extn_cms}" ] ; then
        cat ${entry_pardir}/${entry}${extn_cms} | openssl cms -decrypt \
          -inkey ${certkeyfile} ${cmsopts_inform} ;
      fi ;
    fi ;
  else # assume gnupg
    entry_pardir=${entry_pardir:-${USERDIR}/.passwords} ; extn=".gpg" ;
    if [ -f "${entry_pardir}/${entry}.asc" ] ; then extn=".asc" ; fi ;
    cat ${entry_pardir}/${entry}${extn} | ${GPG_CMD} -qd ;
  fi
}

gettoken_entry() { # input: entry ; output: token
  entry=${1:-tokenmail}
  tokenfile=${tokenfile:-${entry}.tokens}

  python ${USERDIR}/.config/mutt/oauth2.py ${tokenfile}
}

is_function="0"
func=${1} ; shift

case "${func}" in
  "getpass_entry") is_function="1" ;;
  "gettoken_entry") is_function="1" ;;
esac
if [ "0" = "${is_function}" ] ; then
  printf "${usage}\n" ; exit ;
fi
${func} ${@}
