{
  "_usage_example": "[PACKER_LOG=1 PACKER_LOG_PATH=/tmp/packer.log] packer build -only=qemu_x86_64 template.json",

  "builders": [{
    "type": "qemu",
    "name": "qemu_x86_64",
    "vm_name": "{{user `variant`}}-x86_64-{{user `vol_mgr`}}",
    "machine_type": "q35",
    "disk_interface": "virtio-scsi",
    "disk_discard": "unmap",
    "disk_detect_zeroes": "unmap",
    "net_bridge": "{{user `qemunet_bridge`}}",
    "qemuargs": [
      ["-cpu", "SandyBridge"], ["-smp", "cpus=2"], ["-m", "size=2048"],
      ["-boot", "order=cdn,menu=on"], ["-name", "{{.Name}}"],
      ["-device", "virtio-net,netdev=user.0,mac=52:54:00:{{user `mac_last3`}}"], ["-device", "virtio-scsi"],
      ["-device", "scsi-hd,drive=drive0"], ["-usb"], ["-vga", "none"],
      ["-device", "qxl-vga,vgamem_mb=64"], ["-display", "gtk,show-cursor=on"],
      ["-smbios", "type=0,uefi=on"], ["-bios", "{{user `firmware_qemu_x64`}}"]
    ],

    "boot_wait": "7s",
    "ssh_timeout": "4h45m",
    "ssh_username": "root",
    "ssh_password": "{{user `passwd_plain`}}",
    "headless": "{{user `headless`}}",
    "disk_size": "{{user `disk_size`}}",
    "http_directory": "init",
    "shutdown_command": "shutdown -p +3 || poweroff",
    "output_directory": "output-vms/{{user `variant`}}-x86_64-{{user `vol_mgr`}}",

    "iso_checksum": "file:file://{{user `isos_pardir`}}/freebsd/CHECKSUM.SHA256-{{user `iso_base_x64`}}",
    "iso_url": "",
    "iso_urls": ["file://{{user `isos_pardir`}}/freebsd/{{user `iso_base_x64`}}-disc1.iso","{{user `iso_url_mirror`}}/{{user `iso_url_directory`}}/{{user `iso_base_x64`}}-disc1.iso"],
    "boot_command": [
      "<wait10><wait10><wait10><wait10><wait10><wait10>", "<wait10><wait10><wait10><wait10><wait10><wait10>", "l<wait5>root<enter><wait10>",
      "mdmfs -s 100m md1 /mnt ; mdmfs -s 100m md2 /tmp ; mkdir -p /tmp/bsdinstall_etc ; resolvconf -u ; sleep 5 ; dhclient -l /tmp/dhclient.leases -p /tmp/dhclient.lease.em0 em0 ; dhclient -l /tmp/dhclient.leases -p /tmp/dhclient.lease.vtnet0 vtnet0 ; cd /tmp ; fetch http://{{.HTTPIP}}:{{.HTTPPort}}/common/gpart_setup.sh http://{{.HTTPIP}}:{{.HTTPPort}}/{{user `variant`}}/install.sh ; geom -t ; sleep 3 ; sh -x /tmp/gpart_setup.sh part_format {{user `vol_mgr`}} ; sh -x /tmp/gpart_setup.sh mount_filesystems {{user `vol_mgr`}}<enter><wait10><wait10><wait10>env RELEASE={{user `RELEASE`}} DISTARCHIVE_FETCH={{user `distarchive_fetch`}} VOL_MGR={{user `vol_mgr`}} sh -x /tmp/install.sh run_install {{user `init_hostname`}} '{{user `passwd_crypted`}}'<enter><wait>"
    ]
  },
  {
    "type": "virtualbox-iso",
    "guest_os_type": "{{user `vboxguest_ostype`}}",
    "format": "ova",
    "name": "virtualbox_x86_64",
    "vm_name": "{{user `variant`}}-x86_64-{{user `vol_mgr`}}",
    "guest_additions_path": "VBoxGuestAdditions_{{.Version}}.iso",
    "guest_additions_mode": "disable",
    "hard_drive_interface": "sata",
    "iso_interface": "sata",
    "vboxmanage": [
      ["storagectl", "{{.Name}}", "--name", "SCSI Controller", "--add", "scsi",
        "--bootable", "on"],
      ["modifyvm", "{{.Name}}", "--firmware", "efi", "--nictype1", "virtio",
        "--memory", "2048", "--vram", "64", "--rtcuseutc", "on",
        "--cpu-profile", "Intel Core i5-3570", "--cpus", "2",
        "--clipboard", "bidirectional", "--draganddrop", "bidirectional",
        "--accelerate3d", "on", "--groups", "/init_vm"]
    ],

    "boot_wait": "7s",
    "ssh_timeout": "4h45m",
    "ssh_username": "root",
    "ssh_password": "{{user `passwd_plain`}}",
    "headless": "{{user `headless`}}",
    "disk_size": "{{user `disk_size`}}",
    "http_directory": "init",
    "shutdown_command": "shutdown -p +3 || poweroff",
    "output_directory": "output-vms/{{user `variant`}}-x86_64-{{user `vol_mgr`}}",

    "iso_checksum": "file:file://{{user `isos_pardir`}}/freebsd/CHECKSUM.SHA256-{{user `iso_base_x64`}}",
    "iso_url": "",
    "iso_urls": ["file://{{user `isos_pardir`}}/freebsd/{{user `iso_base_x64`}}-disc1.iso","{{user `iso_url_mirror`}}/{{user `iso_url_directory`}}/{{user `iso_base_x64`}}-disc1.iso"],
    "boot_command": [
      "2<enter><wait10><wait10><enter><wait>",
      "mdmfs -s 100m md1 /mnt ; mdmfs -s 100m md2 /tmp ; dhclient -l /tmp/dhclient.leases -p /tmp/dhclient.lease.em0 em0 ; dhclient -l /tmp/dhclient.leases -p /tmp/dhclient.lease.vtnet0 vtnet0 ; cd /tmp ; fetch http://{{.HTTPIP}}:{{.HTTPPort}}/common/gpart_setup.sh http://{{.HTTPIP}}:{{.HTTPPort}}/{{user `variant`}}/{{user `vol_mgr`}}-installscript ; export PASSWD_CRYPTED='{{user `passwd_crypted`}}' ; export INIT_HOSTNAME={{user `init_hostname`}} ; geom -t ; sleep 3 ; bsdinstall script /tmp/{{user `vol_mgr`}}-installscript<enter>"
    ]
  }],

  "provisioners": [{
    "type": "shell-local",
    "inline": [
      "mkdir -p {{user `home`}}/.ssh/publish_krls {{user `home`}}/.pki/publish_crls",
      "cp -a {{user `home`}}/.ssh/publish_krls init/common/skel/_ssh/",
      "cp -a {{user `home`}}/.pki/publish_crls init/common/skel/_pki/",
      "tar -cf /tmp/scripts_{{user `variant`}}.tar init/common init/{{user `variant`}} -C scripts {{user `variant`}}"
    ]
  },
  {
    "type": "shell-local",
    "inline": [
      "if command -v erb > /dev/null ; then",
      "erb author={{user `author`}} guest={{user `variant`}}-x86_64-{{user `vol_mgr`}} datestamp={{user `build_timestamp`}} init/common/catalog.json.erb > output-vms/{{user `variant`}}-x86_64-{{user `vol_mgr`}}/{{user `variant`}}-x86_64-{{user `vol_mgr`}}_catalog.json",
      "elif command -v pystache > /dev/null ; then",
      "pystache init/common/catalog.json.mustache '{\"author\":\"{{user `author`}}\",\"guest\":\"{{user `variant`}}-x86_64-{{user `vol_mgr`}}\",\"datestamp\":\"{{user `build_timestamp`}}\"}' > output-vms/{{user `variant`}}-x86_64-{{user `vol_mgr`}}/{{user `variant`}}-x86_64-{{user `vol_mgr`}}_catalog.json",
      "fi"
    ],
    "only": ["qemu_x86_64"]
  },
  {
    "type": "file",
    "destination": "/tmp/scripts.tar",
    "generated": true,
    "source": "/tmp/scripts_{{user `variant`}}.tar"
  },
  {
    "type": "shell",
    "environment_vars": [
      "HOME_DIR=/home/packer"
    ],
    "execute_command": "chmod +x {{.Path}} ; env {{.Vars}} sh -c {{.Path}}",
    "inline": [
      "tar -xf /tmp/scripts.tar -C /tmp ; mv /tmp/{{user `variant`}} /tmp/scripts",
      "cp -a /tmp/init /tmp/scripts /root/"
    ]
  },
  {
    "type": "shell",
    "environment_vars": [
      "HOME_DIR=/home/packer"
    ],
    "execute_command": "chmod +x {{.Path}} ; env {{.Vars}} sh -c {{.Path}}",
    "scripts": [
      "init/{{user `variant`}}/vagrantuser.sh"
    ],
    "except": []
  },
  {
    "type": "shell",
    "environment_vars": [
      "HOME_DIR=/home/packer"
    ],
    "execute_command": "chmod +x {{.Path}} ; env {{.Vars}} sh -c {{.Path}}",
    "scripts": [
      "init/common/bsd/zerofill.sh"
    ],
    "except": ["qemu_x86_64"]
  }],

  "post-processors": [
    {
      "type": "checksum",
      "checksum_types": ["sha256"],
      "output": "output-vms/{{user `variant`}}-x86_64-{{user `vol_mgr`}}/{{user `variant`}}-x86_64-{{user `vol_mgr`}}.{{.BuilderType}}.{{.ChecksumType}}",
      "only": ["qemu_x86_64"]
    },
    {
      "type": "vagrant",
      "keep_input_artifact": true,
      "vagrantfile_template": "Vagrantfile.template",
      "include": ["init/common/info.json", "init/common/qemu_lxc/vmrun.sh",
        "init/common/qemu_lxc/vmrun_qemu_x86_64.args",
        "init/common/qemu_lxc/vmrun_bhyve.args", "{{user `firmware_qemu_x64`}}", "{{user `nvram_qemu_x64`}}"],
      "output": "output-vms/{{user `variant`}}-x86_64-{{user `vol_mgr`}}/{{user `variant`}}-x86_64-{{user `vol_mgr`}}-{{user `build_timestamp`}}.{{.Provider}}.box",
      "only": ["qemu_x86_64"]
    },
    {
      "type": "shell-local",
      "inline": [
        "mv output-vms/{{user `variant`}}-x86_64-{{user `vol_mgr`}}/{{user `variant`}}-x86_64-{{user `vol_mgr`}} output-vms/{{user `variant`}}-x86_64-{{user `vol_mgr`}}/{{user `variant`}}-x86_64-{{user `vol_mgr`}}.qcow2",
        "cp -a init/common/qemu_lxc/vmrun.sh output-vms/{{user `variant`}}-x86_64-{{user `vol_mgr`}}/"
      ],
      "only": ["qemu_x86_64"]
    }
  ],

  "variables": {
    "variant": "freebsd",
    "vol_mgr": "std",
    "init_hostname": "freebsd-boxv0000",
    "boot_cmdln_options": " ",
    "isos_pardir": "/mnt/Data0/distros",
    "RELEASE": "",
    "vboxguest_ostype": "FreeBSD_64",
    "qemunet_bridge": "virbr0",

    "iso_url_mirror": "https://download.freebsd.org/ftp",
    "iso_url_directory": "releases/ISO-IMAGES/13.1",
    "iso_base_x64": "FreeBSD-13.1-RELEASE-amd64",

    "firmware_qemu_x64": "/usr/share/OVMF/OVMF_CODE.fd",
    "nvram_qemu_x64": "/usr/share/OVMF/OVMF_VARS.fd",
    "disk_size": "30720M",
    "headless": "",
    "passwd_plain": "packer",
    "passwd_crypted": "",
    "author": "imcomputer",
    "home": "{{env `HOME`}}",
    "build_timestamp": "{{isotime `2006.01`}}",
    "datestamp": "{{isotime `2006.01.02`}}",
    "mac_last3": "{{isotime `15:04:05`}}",
    "distarchive_fetch": "1"
  },
  "sensitive-variables": ["passwd_plain", "passwd_crypted"]
}
