
# OS family based variables dictionary
{% set variant = {'artix': 'archlinux', 'arch': 'archlinux'}.get(
     grains['os_family']|lower, grains['os_family'])|lower %}
{% set dict_distropkgs = {} %}
{% for keyX, valX in salt['ini.get_ini']('/root/scripts/distro_pkgs.ini').items() %}
  {#{% set _ = dict_distropkgs.update({keyX: valX|replace('"', '')|regex_replace('\\${service_mgr:-[a-z]*}', grains['init'])}) %}#}
  {% do dict_distropkgs.update({keyX: valX|replace('"', '')|regex_replace('\\${service_mgr:-[a-z]*}', grains['init'])}) %}
{% endfor %}
{% set desktop = pillar.get(tpldot, {}).get('desktop', 'xfce') %}
{% load_yaml as defaultdict %}
  default:
    {#pkgs_displaysvr = {{salt['cmd.shell']('. /root/scripts/distro_pkgs.ini ; echo ${pkgs_displaysvr}', shell='/bin/sh')}}#}
    {#distro_pkgs: {{salt['ini.get_ini']('/root/scripts/distro_pkgs.ini')}}#}
    distro_pkgs: {{dict_distropkgs}}
    desktop: lxqt
    etcdir_xdg: /etc/xdg
  FreeBSD:
    pkgclean_cmd: ASSUME_ALWAYS_YES=yes pkg clean -y
    etcdir_xdg: /usr/local/etc/xdg
  Void:
    pkgclean_cmd: xbps-remove -Ooy
  Artix:
    pkgclean_cmd: pacman -Sc --noconfirm
  Archlinux:
    pkgclean_cmd: pacman -Sc --noconfirm
  Alpine:
    pkgclean_cmd: apk -v cache clean
  Debian:
    pkgclean_cmd: apt-get -y clean
  Suse:
    pkgclean_cmd: zypper --no-refresh --non-interactive clean --all
  RedHat:
    pkgclean_cmd: dnf -C -y clean all
    desktop: kde
  'CentOS Stream':
    pkgclean_cmd: dnf -C -y clean all
    desktop: kde
  Mageia:
    pkgclean_cmd: dnf -C -y clean all
  NetBSD:
    pkgclean_cmd: pkgin -y clean
  #  etcdir_xdg: /usr/pkg/etc/xdg
  OpenBSD:
    pkgclean_cmd: true
  #  etcdir_xdg: /usr/local/etc/xdg
  PCLinuxOS:
    pkgclean_cmd: apt-get -y clean
{% endload %}

{#{% set varsdict = salt['grains.filter_by'](defaultdict, base='default',
  merge=pillar.get(tpldot ~ ':lookup', pillar.get(tpldot))) %}#}
{% set varsdict = salt['grains.filter_by'](defaultdict, base='default',
  merge=salt['pillar.get'](tpldot ~ ':lookup', salt['pillar.get'](tpldot))) %}
